.app{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 94vh;
    background-image: url(/public/images/register.jpg);
    width: 99vw;
}
form{
    background-color: white;
    padding: 40px 40px;
    border-radius: 10px;
    width: 50vh;
}
form h1{
    text-align: center;
    color:rgb(71, 71, 163) ;
    background-color: rgb(208, 194, 221);
    border-radius: 8px;
    padding: 5px;
}
button{
    width: 100%;
    background-color: rgb(208, 194, 221);
    padding: 14px ;
    border-radius: 10px;
    border-color: white;
    font-weight: bold;
    cursor: pointer;
    color: rgb(29, 11, 46);
}
.login2{
text-decoration: none;
background-color: rgb(208, 194, 221);
color:rgb(71, 71, 163) ;
padding: 4px 4px;
margin-left: 40vh;
text-align: right;
}
.home2{
    text-decoration: none;
    background-color: rgb(208, 194, 221);
    color:rgb(71, 71, 163) ;
    padding: 4px 4px;
    margin: 5px;
    text-align: right;
    }